#Homepageh1 
{
    background-color: rgb(173, 216, 230);
    padding: 30px;
    
}

.secondsection {
    border-style:dashed;
}

.cheetahfooter {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    text-align: center;
}

#Cheetahimage
{
    height: 40vh;
    width: auto;
}